
/* form{
  position:fixed;

  left:30%;
  width:450px;
  height: 460px;
  background-color: rgba(230, 230, 230, 0.71);
  border: 1px solid  rgba(106, 141, 173, 0.71);;
  border-radius: 25px;
} */

/* h3{

  background-color: #213E8D;
  color: white;
  text-align: center;
  vertical-align: middle;


}

button{
  position: absolute;
  right: 0;
  margin-right: 8px;
  bottom:0;
  margin-bottom: 12px;
}

label{

  margin-left: 8px;
  color: #213E8D;
} */
