<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SparkJava-SAMPLE-CDI-DELTASPIKE-DATA-Angular</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
        <li class="active"><a [routerLink]="['/cadastro-jug']" routerLinkActive="active">Cadastro</a></li>
        <li class="active"><a [routerLink]="['/consulta-jug']" routerLinkActive="active">Consulta</a></li>
      </ul>
    </div>
  </div>
</div>
